Day_11_modules_and_packages/__pycache__/my_mod.cpython-310.pyc
Day_11_modules_and_packages/my_pkg/__pycache__/__init__.cpython-310.pyc
Day_11_modules_and_packages/my_pkg/__pycache__/my_utils.cpython-310.pyc
Day_11_modules_and_packages/my_pkg/subp/__pycache__/__init__.cpython-310.pyc
Day_11_modules_and_packages/my_pkg/subp/__pycache__/sub_utils.cpython-310.pyc
Day_11_modules_and_packages/__pycache__/day11_exercise.cpython-310.pyc
venv/
Day_14_ExternalLibraries_CreatingVirtualEnviroment/file_that_shall_not_be_commited.py
output.svg
Day_20_Web_Automation/rigas_rajons_2022_10_20.xlsx
Day_20_Web_Automation/riga_region_20221020.xlsx
Day_20_Web_Automation/tractors.csv
Day_20_Web_Automation/traktoru_pardosana.csv
Day_20_Web_Automation/~$rigas_rajons_2022_10_20.xlsx
Day_20_Web_Scraping_Beautiful_Soup/riga_region_20221020.xlsx
Day_20_Web_Scraping_Beautiful_Soup/rigas_rajons_2022_10_20.xlsx
Day_20_Web_Scraping_Beautiful_Soup/tractors.csv
Day_20_Web_Scraping_Beautiful_Soup/traktoru_pardosana.csv
Day_21_Web_Automation_Testing_Selenium/page.png
Day_20_Web_Scraping_Beautiful_Soup/cars_bmw_20221023.csv
Day_22_23_Relational_Databases_SQL/shuffle.py
