Day_11_modules_and_packages/__pycache__/my_mod.cpython-310.pyc
Day_11_modules_and_packages/my_pkg/__pycache__/__init__.cpython-310.pyc
Day_11_modules_and_packages/my_pkg/__pycache__/my_utils.cpython-310.pyc
Day_11_modules_and_packages/my_pkg/subp/__pycache__/__init__.cpython-310.pyc
Day_11_modules_and_packages/my_pkg/subp/__pycache__/sub_utils.cpython-310.pyc
Day_11_modules_and_packages/__pycache__/day11_exercise.cpython-310.pyc
venv/
Day_14_ExternalLibraries_CreatingVirtualEnviroment/file_that_shall_not_be_commited.py
